.app {
  box-sizing: border-box;
}

.ticket-tracker {
  border: 1px solid green;
  margin: auto;
}

.flexme {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
}
