* {
  box-sizing: border-box;
}

main {
  background-image: url("./assets/bg2.jpg");
  background-size: cover;
  height: 100%;
}
.ticket-tracker {
  width: 80%;
  margin: auto;
  text-align: center;

}

h1 {
  font-size: 40px;
  color: goldenrod;
}

.employee-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 5px;
}

@media only screen and (max-width: 1200px) {

  .employee-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 5px;
  }
}

@media only screen and (max-width: 765px) {

  .employee-display {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    padding: 5px;
  }
}