


.eachCard {
  border: 4px solid darkblue;
  border-radius: 8px;
  background-color: rgba(250, 235, 215, 0.7);
  width: 300px;
  text-align: center;
  // margin: 10px;
  padding: 5px;
  line-height: 5px;

  h4{
    text-align: left;
    font-weight: 600;
  }

  button {
    border: 2px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 25px;

  }

  button:hover{
    background-color: rgb(65, 178, 210);
  }


  .counter {
    border: 2px solid darkblue;
    border-radius: 8px;
    background-color: aliceblue;
    justify-content: center;
    margin: auto;
    width: 75%;
    padding-bottom: 5px;
  }
}